/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* ###STYLING### 
MAIN BODY  */

body {
  /* font: normal 18px 'Open Sans', sans-serif; */
  /* background: #fafafa; */
  /* color: #333; */
  /* background-color: #3a413d #166d3b; */
  background: linear-gradient(327deg, #198754 0%, #000000 74%);

  /* Ensure the gradient covers the full viewport height */
  /* height:  */
  /* 1000px; */
  /* 100vh; */

  /* Prevent background from repeating */
  background-repeat: no-repeat;

  /* Center the background vertically and horizontally */
  background-position: center center;

  /* Make the background cover the entire viewport */
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
}

.homepage {
  color: white;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -50px;
  margin-left: -130px;
}

/* ###STYLING### 
Login Form  */

.login-form {
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #000;
  background-color: #feffb5;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: -5px -5px 8px #87194c, -10px -10px 8px #198754;
}

.login-form h2 {
  right: 50%;
}

.login-form h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.login-form p {
  font-size: 20px;
  margin: 10px 20px;
}

.login-form input {
  font-size: 16px;
  width: 80%;
  padding: 15px 10px;
  border: 1px solid;
  outline: none;
  border-radius: 5px;
  margin: 2px 20px;
}

.login-form button {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 10px 20px 20px;
  width: 40%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 0;
}

/* ###STYLING### 
Owned List Page  */
.ownedList h1 {
  color: white;
  padding-top: 190px;
}
.container .box:hover {
  transform: scale(1.025);
  transition: 0.2s ease-in-out;
}

.wishList h1 {
  color: white;
  padding-top: 190px;
}

.discover h1 {
  color: white;
  padding-top: 190px;
}

/* Style the container to hold the boxes */
.container {
  display: flex; /* Use flexbox to arrange the boxes */
  flex-direction: column;
  width: 100%; /* Make the container 100% width of the viewport */
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  word-wrap: break-word;
}

.container-search ul li {
  text-decoration: underline yellow;
}

/* Style the boxes (make them equal-sized) */
.box {
  background-color: #feffb5; /* Set a background color */
  box-shadow: 5px 5px 8px #87194c, 10px 10px 8px #000;
  padding: 20px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  margin: 1.5rem;
  display: flex;
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}

.box-image {
  flex: 45%;
  height: auto;
  width: auto;
  background-color: #fff; /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  align-items: center; /* Vertically center buttons */
}

.box img {
  height: 250px;
  /* width: 100%; */
  /* transform: translate(1%,1%); */
}

.box-name {
  height: auto;
  /* width: 10%; */
  /* background-color: #000;  */
  /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  /* border: 1px solid #ccc;  */
  /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}

/* Game title name styling */
.box-name h2 {
  color: #87194c;
  text-shadow: 1px 1px 2px #198754;
}

.box-release {
  height: 150px;
  width: 10%;
  background-color: #fff; /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  display: flex;
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}
.box-rating {
  height: 150px;
  width: 10%;
  background-color: #fff; /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center buttons */
  align-content: center;
}
.box-button {
  /* Set a background color */
  background-color: #feffb5;
  /* Add padding for spacing inside the boxes */
  padding: 10px;
  /* Add a border for visual separation */
  /* border: 1px solid #ccc;  */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}

/* Style the button container */
.button-container {
  display: flex;
  gap: 10px; /* Add spacing between buttons */
}

/* Style the buttons */
.button-container button {
  background-color: #000;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  width: 100px;
}

.box-discover-name {
  height: 250px;
  width: 30%;
  /* background-color: #000;  */
  /* Set a background color */
  padding-right: 10px; /* Add padding for spacing inside the boxes */
  /* border: 1px solid #ccc;  */
  /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}
.box-discover-description {
  height: 250px;
  width: 100%;
  /* background-color: #000;  */
  /* Set a background color */
  padding: 5px; /* Add padding for spacing inside the boxes */
  /* border: 1px solid #ccc;  */
  /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
  overflow: hidden;
}
.box-discover-image {
  height: auto;
  width: 100%;
  /* background-color: #000;  */
  /* Set a background color */
  padding: 5px; /* Add padding for spacing inside the boxes */
  /* border: 1px solid #ccc;  */
  /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}

/* Add hover effect to buttons */

/* ###STYLING### 
GAME DETAILS  */

/* Style the container to hold the boxes */
.container-gd {
  display: flex; /* Use flexbox to arrange the boxes */
  flex-direction: column;
  width: 100%; /* Make the container 100% width of the viewport */
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  word-wrap: break-word;
}

.game-detail p {
  color: #fff;
}

/* Grid Layout For Details Page */
.container-game-details {
  display: grid;
grid-template-areas:
  "box-1 box-2 "
  "box-3 box-3 "
  "box-4 box-4";
gap: 1.5rem;
/* display: grid;
  Two columns
  grid-template-columns: repeat(2, 1fr); 
  Gap between grid items
  grid-gap: 20px;  */
}

.box-1,
.box-2,
.box-3,
.box-4 {
  /* border: 1px #ccc solid; */
  padding: 0.5 rem;
  
}

.box-1 {
  grid-area: box-1;
  height: 500px;
  width: 100%;
  /* background-color: #ccc; */
  /* display: inline; */
}

.box-1 h1 {

}

.box-1 img {
  height:500px;
  width: auto;
  border-radius: 5px;
  border: #feffb5 solid 1px;
}
.box-2 {
  grid-area: box-2;
  /* display: inline; */
  color: #feffb5;
  height: 500px;
  width: 100%;
padding: 10px 20px;
  background-color: rgba(0,0,0,.9);
  border-radius: 5px;
  border: rgb(254, 255, 181) solid 1px;
  box-shadow: -5px -5px 8px #87194c, -10px -10px 8px rgb(25, 135, 84);
}
.box-2 h1 {

  color: #87194c;
  text-shadow: #fff;
  font-size: 36px;
}
.box-2 h2 {
  color: #87194c;
  font-size: 36px;
  text-align: center;
}
.box-2 h3 {
  color: white;
  
}

.button-container-2 {
  display: flex;
  gap: 10px; /* Add spacing between buttons */
}

.button-container-2 button {
  background-color: rgba(254,255,181,.9);
  color: black;
  border: 2px solid #87194c;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  width: 100px;
}
/* Add hover effect to buttons */
.button-container-2 button:hover {
  background-color: #87194c;
  color: white;
  border: 2px solid #198754;
}

.box-3 {
  background-color: rgba(0,0,0,.9);
  color: #fff;
  border: #feffb5 solid 1px;
  grid-area: box-3;
  border-radius: 10px;
  padding: 25px 50px;
  /* display: flex; */
  height: auto;
  width: 100%;

}
/* .box-3 h1 {
} */
.box-3 p {
color: #feffb5;
  font-size: 20px;
}

.box-4 {

  grid-area: box-4;
  display: flex;
  height: auto;
  width: 100%;
  gap: inherit;
  /* background-color: #ccc; */
  /* margin-bottom: 40px; */
}

.box-4 img {
  height:250px;
  width: 400px;
  border-radius: 5px;
  border: #feffb5 solid 1px;

}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-container iframe {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  border: #feffb5 solid 1px;
}

/* Media for device size, etc.. */
/* @media (max-width: 850px) {
  .container-game-details {
    grid-template-areas:
      "box-1"
      "box-2"
      "box-3"
      "box-4";
  }
} */
