/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* ###STYLING### 
MAIN BODY  */

body {
  /* font: normal 18px 'Open Sans', sans-serif; */
  /* background: #fafafa; */
  /* color: #333; */
  /* background-color: #3a413d #166d3b; */
  background: linear-gradient(327deg, #198754 0%, #000000 74%);

  /* Ensure the gradient covers the full viewport height */
  /* height:  */
  /* 1000px; */
  /* 100vh; */

  /* Prevent background from repeating */
  background-repeat: no-repeat;

  /* Center the background vertically and horizontally */
  background-position: center center;

  /* Make the background cover the entire viewport */
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
}

/* ###STYLING### 
Login Form  */

.login-form {
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #000;
  background-color: #feffb5;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: -5px -5px 8px #87194C, -10px -10px 8px #198754
}

.login-form h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.login-form p {
  font-size: 20px;
  margin: 10px 20px;
}

.login-form input {
  font-size: 16px;
  width: 80%;
  padding: 15px 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
  margin: 0 20px;
}

.login-form button {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 10px 20px 20px;
  width: 40%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 0;
}

/* ###STYLING### 
Owned List Page  */



/* Style the container to hold the boxes */
.container {
  display: flex; /* Use flexbox to arrange the boxes */
  flex-direction: column;
  width: 100%; /* Make the container 100% width of the viewport */
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

/* Style the boxes (make them equal-sized) */
.box {
  background-color: #feffb5; /* Set a background color */
  box-shadow: 5px 5px 8px #87194C, 10px 10px 8px #000;
  padding: 20px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  margin: 1.5rem;
  display: flex;
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}

.box-image {
  height: 250px;
  width: 20%;
  background-color: #fff; /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  align-items: center; /* Vertically center buttons */
}

.box img {
  height: auto;
  width: 100%;
  align-items: center; /* Vertically center buttons */
  align-content: center;
  /* transform: translate(1%,1%); */
}

.box-name {
  height: 150px;
  width: 40%;
  /* background-color: #000;  */
  /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  /* border: 1px solid #ccc;  */
  /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}

/* Game title name styling */
.box-name h2 {
  color: #87194C;
  text-shadow: 1px 1px 2px #198754; 
}

.box-release {
  height: 150px;
  width: 10%;
  background-color: #fff; /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  display: flex;
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}
.box-rating {
  height: 150px;
  width: 10%;
  background-color: #fff; /* Set a background color */
  padding: 10px; /* Add padding for spacing inside the boxes */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px;
  /* margin: 1rem; */
  display: flex;
  justify-content: space-between; 
  align-items: center; /* Vertically center buttons */
  align-content: center;
}
.box-button {
  /* Set a background color */
  background-color: #feffb5; 
  /* Add padding for spacing inside the boxes */
  padding: 10px; 
 /* Add a border for visual separation */
  /* border: 1px solid #ccc;  */
  border-radius: 5px;
  /* margin: 1rem; */
  /* display: flex; */
  justify-content: space-between; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  align-content: center;
}

/* Style the button container */
.button-container {
  display: flex;
  gap: 10px; /* Add spacing between buttons */
}

/* Style the buttons */
.button-container button {
  background-color: #000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  width: 100px;
}

/* Add hover effect to buttons */
.button-container button:hover {
  background-color: #87194C;
}
