/* GameVideo.css */
.body-video {
    width: 100%;
    height: 100%;
    background-color:rgba(240, 240, 240, 0);
    
  }
  
  .container-video {
    display: grid;
    grid-template-areas:
      'video-1 video-1 video-1'
      'video-1 video-1 video-1'
      'video-1 video-1 video-1'
      'video-1 video-1 video-1';
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin: auto;
    margin-top: 10px;
    width: auto;
    
  }
  
  .video-item {
    padding: 1rem;
    border: 1px solid gold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1200px;
    
    
  }
  
  /* Define the grid areas for each video */
  .video-1 {
    grid-area: video-1;
    width: 890px;
    height: 450px;
    margin: auto;
    margin-right: 570px;
    padding: 0%;
  }
  
  .video-2 {
    grid-area: video-2;
    width: 180px;
    height: 100px;
    padding: 0;
  }
  
  .video-3 {
    grid-area: video-3;
    padding: 0;
    width: 180px;
    height: 100px;
  }
  
  .video-4 {
    grid-area: video-4;
    padding: 0;
    width: 180px;
    height: 100px;
    
    
  }
  
  .video-5 {
    grid-area: video-5;
    padding: 0;
    width: 180px;
    height: 100px;
  }
  
  

  



  