/* .header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #FEFFB5;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0 10%;
  margin-bottom: 1%;
  
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  font-weight: bold;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  font-family: comic-sans;
}

.header a:hover,
.header a:active,
.header a.active {
  color: red;
} */

/* .badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');



header {
    background: #000;
    color: #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
}
    h1{
        font: normal 3em 'Playfair Display SC', serif;
        text-align:center;
    }

    nav {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

        nav a {
            color: #fafafa;
            text-decoration: none;
            flex-grow: 1;
            text-align: center;
            padding: 1em;
            position: relative;
        }

        /* animation */
        nav a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right:0;
            height: 2px;
            transform: scaleX(0);
            background: #87194C;
            transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
        }

        nav a:hover::after{
            transform: scaleX(1)
        }
