


.container-home-page {
    display: grid;
    grid-template-areas:
        'search-bar search-bar search-bar search-bar'
      'video-1 video-1 video-1 video-1'
      'video-1 video-1 video-1 video-1'
      'top-game top-game top-game top-game'
      'new new new new '
      'random random random random';

    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    
    
  }

  .video-1 {
    grid-area: video-1;
    width: 100%;
    
    padding: 0;
    align-content: center;
   
  }

  .top-game {
    grid-area: top-game;

  }

  .random-game {
    grid-area:random;
  }

  .new-release {
    grid-area: new;
  }

  .home-search-bar{
    grid-area: search-bar;
    
  }

  @media (max-width: 768px) {
    .container-home-page {
        grid-template-columns: repeat(1, 1fr); /* Change to a single column for smaller screens */
        padding: 1rem;
    }

    .video-1 {
        width: 100%; /* Adjust to your design needs */
    }
}
