/* Styling for the container of each game item in the carousel */
.carousel-container {
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
}




/* Styling for the game image container */
.carousel-image {
  max-width: 100%;
}

/* Styling for the game image */
.carousel-item-img {
  max-width: 290px;
  height: 200px;
  border: 2px solid gold;
  border-radius: 8px;
}

/* Styling for the game name */
.carousel-name {
  margin: 5px;
  font-size: 18px;
  color: #eee6e6;
  text-align: center;
  padding: 10px;
}

/* Styling for the game image when hovered */
.carousel-item-img:hover {
    border-color: #ff9900;
    transform: scale(1.1);
  }
  .carousel-arrow-left::before,
.carousel-arrow-right::before {
  transform: translateY(-120%);
  transition: transform 0.3s; /* Add a smooth transition effect */
}

  .carousel-arrow {
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s; /* Add a smooth transition effect */
  }
  
  .carousel-arrow-left::before {
    content: 'Preview';
    position: absolute;
    left: -45px;
    transform: translateY(-120%);
    transition: transform 0.5s; /* Add a smooth transition effect */
  }
  
  .carousel-arrow-right::before {
    content: 'Next';
    position: absolute;
    transform: translateY(-120%);
    transition: transform 0.3s; /* Add a smooth transition effect */
  }