/* styles.css */
.search-bar-container {
    width: 48%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color:rgba(240, 240, 240, 0);
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .search-bar-container input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 30px;
  }
  
  .search-bar-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
    line-height: 10px;
  }
  