/* SearchResultsPage.css */
.search-results-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
  }

  .result-item-content {
    display: flex; /* Display its children in a row */
    align-items: center; /* Center items vertically */

  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
    outline: none;
  }
  
  .search-bar button {
    background: #4285f4;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  h3 {
    color: #1a0dab;
  }
  
  .search-results-list {
    list-style: none;
    padding: 0;
    
  }
  
  .search-result-item{
    background: #e2e6ad;
    border: #dae567 solid 2px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    
  }

  .search-result-item:hover {
    background-color: #b9f1ab;
  }
  
  .search-result-item p {
    margin: 0;
  }
  
  .result-img {
    max-width: 130px;
    height: 75px;
    display: block;
    margin-top: 1px;
  }

  .result-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .result-text p {
    margin-bottom: 5px; /* Add space between the paragraphs (adjust the value as needed) */
  }
  
  